/documents/*
/var/xapian/*
/var/*.timestamp
/html/*.html
/html/en/*.html
/html/es/*.html
/html/es/archive/*
/html/en/archive/*
/html/es/view/subjects/*
/html/es/view/year/*
/html/es/view/valoration/*
/html/es/view/revista/*
/html/es/view/creators/*
/html/es/view/divisions/*
/html/es/view/editorial/*
/html/es/view/enfoque/*
/html/en/view/subjects/*
/html/en/view/year/*
/html/en/view/valoration/*
/html/en/view/revista/*
/html/en/view/creators/*
/html/en/view/divisions/*
/html/en/view/editorial/*
/html/en/view/enfoque/*
/html/*.ico
